<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47662699052-3g0i9rhldsms7mtii9nfcosg90kmvrbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47662699052-3g0i9rhldsms7mtii9nfcosg90kmvrbd</string>
	<key>API_KEY</key>
	<string>AIzaSyBzRKEvVy0sKrUpANaZyUgJFklFwtr6c6M</string>
	<key>GCM_SENDER_ID</key>
	<string>47662699052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.resume</string>
	<key>PROJECT_ID</key>
	<string>resume-fbla</string>
	<key>STORAGE_BUCKET</key>
	<string>resume-fbla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47662699052:ios:d7fd42b2d79f8ccc98f789</string>
</dict>
</plist>